
.pie{
    width: 300px;
    border: gray;
    background-color:white;
    
}
.bar{
    width: 35rem;
    border: 1px transparent;
    background-color: white;
}  
.doughnut{
    width: 10px;
    height: 20%;
    font-size: 30px;
}

.pie-p{
    display: flex;
  justify-content:space-evenly;
}

.link{
    position: relative;
}
.chart{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}
.tablehead{
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border-bottom: 1px solid;
  border-width: 100%;
}
.previousTable{
    margin: 0 auto;
    width:80%;
    background-color: #f0f0f0;
}
.rejected-down{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--rejected-btn-bg-clr);
    color: var(--main-bg-clr);
    width: 60%;
    margin-left: 1rem;
}