:root {
  /*** background colors ***/
  --main-bg-clr: #f7f7f7;
  --otp-bg-clr: #dfdede;
  --input-bg-clr: #b9bdc2;
  --sign-up-btn-bg-clr: #172232;
  --next-btn-bg-clr: #172232;
  --submit-btn-bg-clr: #172232;
  --side-bar-bg-clr: #252d39;
  --dashboard-top-bg-clr: #252d39;
  --dashboard-bg-clr: #f7f7f7;
  --existing-btn-bg-clr: #b9bdc2;
  --new-btn-bg-clr: #ff6f5a;
  --approved-btn-bg-clr: #169872;
  --rejected-btn-bg-clr: #fd3d39;
  --pending-btn-bg-clr: #c0f5f9;
  --credit-score-bg-clr: #b9bdc2;
  --excellent-btn-bg-clr: #169872;
  --good-btn-bg-clr: #747a85;
  --user-icon-bg-clr: #747a85;
  --defaulted-bg-clr: #fd3d39;
  --paid-bg-clr: #169872;
  --congratulations-bg-clr: #454e5c;

  /*** text colors ***/
  --main-text-color: #172232;
  --sign-up-cl: #f7f7f7;
  --label-clr: #747a74;
  --input-clr: #747a85;
  --next-submit-reset-clr: #f7f7f7;
  --quote-text-clr: #f7f7f7;
  --steps-clr: #f7f7f7;

  /* font family */
  --font-family-body: 'Inter', sans-serif;
  --font-size: 1rem;
}

.dashDown-tablehead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border-bottom: 0.1px solid #b9bdc2;
  border-width: 100%;
}

/* styling for dash-down title :style={{ color: '#74757a', paddingRight: '25px' }} */
.dashDown-Table {
  background-color: #f7f7f7;
  border-radius: 10px;
}
.dashdown-div{
  padding-bottom: '15px';
}
.dashDown-h3 {
  border: none;
  color: #252d39;
  font-weight: 100;
  padding-bottom: 5px;
  padding-top: 20px;
}
.dashdown-icon{
  padding-right: '15px'; 
}

.dashDown-h3 span {
  font-size: 0.4em;
  margin-bottom: 5px;
}
.dash-th{
  border-bottom: '1px solid #b9bdc2'
 }

/* approved downstyling style={{ marginRight: '5px' }}  */
/*  */
/* th,
td {
  border-bottom: 0.1px solid #b9bdc2;
  font-weight: 100;
  style={{ borderBottom: '1px solid #b9bdc2' }}
} */


.dashDown-first-data {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1px solid #b9bdc2;
}


.dashDown-first-data h4 {
  /* padding-bottom: 5px; */
  padding-right: '25px';
  margin-left: 2px;
  color: '#74757a';
  font-weight: 100;
  /* style={{ ', }} */
}

.dashDown-first-data Link {
  margin-left: 2px;
}

.dashDown-first-data img {
  margin: 0 0.4rem;
}

/* .dashDown-img {
  padding-Left: 70px;
} */

.dashDown-approved {
  display: flex;
  /* padding-top: 3px;
  padding-bottom: 3px; */
  padding: 4px 5px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--approved-btn-bg-clr);
  color: var(--main-bg-clr);
  /* width: 60%; */
  margin-left: 2rem;
}

.dashDown-pending {
  display: flex;
  padding: 4px 5px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(184, 40%, 59%);
  color: var(--main-bg-clr);
  /* width: 60%; */
  margin-left: 2rem;
}

.dashDown-rejected {
  display: flex;
  /* padding-top: 3px;
  padding-bottom: 3px; */
  padding: 4px 5px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fd3d39;
  color: var(--main-bg-clr);
  /* width: 60%; */
  /* margin-left: 2rem; */
 margin-left: 2rem;
}


/* .dashRev-approved {
  display: flex;
  padding: 5px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--approved-btn-bg-clr);
  color: var(--main-bg-clr);
  width: 60%;
  margin-left: 2rem;
}

.dashRev-rejected {
  display: flex;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fd3d39;
  color: var(--main-bg-clr);
  width: 60%;
  margin-left: 2rem;
}


.rejected {
  background-color: var(--defaulted-bg-clr);
}

.dashDown-footer {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center;
  padding-bottom: 30px;
}

.dashDown-foot {
  color: #74757a;
  font-size: 12.8px;
}

.dashDown-foot1 {
  color: #74757a;
  font-size: 12.8px;
  padding-right: 280px;
  padding-left: 20px;
  border: none;
} */

/* .dashDown-foot2 {
  color: #74757a;
  font-size: 12.8px;
  padding-right: 30px;
  border: none;
}

.dashRev-foot2 {
  color: #74757a;
  font-size: 12.8px;
  padding-right: 30px;
  padding-left: 60px;
  border: none;
} */

/* .dashDown-foot3 {
  color: #74757a;
  font-size: 12.8px;
  padding-left: 315px;
  border: none;
}

.dashRev-foot3 {
  color: #74757a;
  font-size: 12.8px;
  padding-left: 235px;
  border: none;
} */ 