:root {
  /*** background colors ***/
  --main-bg-clr: #f7f7f7;
  --otp-bg-clr: #dfdede;
  --input-bg-clr: #b9bdc2;
  --sign-up-btn-bg-clr: #172232;
  --next-btn-bg-clr: #172232;
  --submit-btn-bg-clr: #172232;
  --side-bar-bg-clr: #252d39;
  --dashboard-top-bg-clr: #252d39;
  --dashboard-bg-clr: #f7f7f7;
  --existing-btn-bg-clr: #b9bdc2;
  --new-btn-bg-clr: #ff6f5a;
  --approved-btn-bg-clr: #169872;
  --rejected-btn-bg-clr: #fd3d39;
  --pending-btn-bg-clr: #c0f5f9;
  --credit-score-bg-clr: #b9bdc2;
  --excellent-btn-bg-clr: #169872;
  --good-btn-bg-clr: #747a85;
  --user-icon-bg-clr: #747a85;
  --defaulted-bg-clr: #fd3d39;
  --paid-bg-clr: #169872;
  --congratulations-bg-clr: #454e5c;

  /*** text colors ***/
  --main-text-color: #172232;
  --sign-up-cl: #f7f7f7;
  --label-clr: #747a74;
  --input-clr: #747a85;
  --next-submit-reset-clr: #f7f7f7;
  --quote-text-clr: #f7f7f7;
  --steps-clr: #f7f7f7;

  /* font family */
  --font-family-body: 'Inter', sans-serif;
  --font-size: 1rem;
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;
}
.exit-new button {
  margin-left: 0.8rem;
}
.exisiting {
  background-color: var(--existing-btn-bg-clr);
  border: none;
  padding: 0.5rem;
  font-size: 0.8rem;
}
.new {
  background-color: var(--new-btn-bg-clr);
  color: var(--main-bg-clr);
  border: none;
  padding: 0.5rem 1.2rem;
  font-size: 0.8rem;
}
.dash-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0.8rem;
  border-radius: 0.6rem;
  margin: 1rem 0;
}


.approved {
  background-color: var(--approved-btn-bg-clr);
  color: var(--main-bg-clr);
  border: none;
  padding: 0.3rem;
  font-size: 0.8rem;
}
.pending {
  background-color: var(--pending-btn-bg-clr);
  border: none;
  padding: 0.3rem;
  font-size: 0.9rem;

}

.rejected {
  background-color: var(--rejected-btn-bg-clr);
  border: none;
  padding: 0.3rem;
  color: var(--main-bg-clr);
  font-size: 0.8rem;
}
.approved-black {
  position: absolute;
  left: 36.5rem;
  bottom: 28rem;
  width: 1.875rem;
}
.pending-black {
  position: absolute;
  left: 54.5rem;
  bottom: 28rem;
  width: 1.875rem;
}
.rejected-black {
  position: absolute;
  left: 75.9rem;
  bottom: 28rem;
  width: 1.875rem;
}
.loan-count {
  margin: 0.5rem 0;
}
