:root {
  /*** background colors ***/
  --main-bg-clr: #f7f7f7;
  --otp-bg-clr: #dfdede;
  --input-bg-clr: #b9bdc2;
  --sign-up-btn-bg-clr: #172232;
  --next-btn-bg-clr: #172232;
  --submit-btn-bg-clr: #172232;
  --side-bar-bg-clr: #252d39;
  --dashboard-top-bg-clr: #252d39;
  --dashboard-bg-clr: #f7f7f7;
  --existing-btn-bg-clr: #b9bdc2;
  --new-btn-bg-clr: #ff6f5a;
  --approved-btn-bg-clr: #169872;
  --rejected-btn-bg-clr: #fd3d39;
  --pending-btn-bg-clr: #c0f5f9;
  --credit-score-bg-clr: #b9bdc2;
  --excellent-btn-bg-clr: #169872;
  --good-btn-bg-clr: #747a85;
  --user-icon-bg-clr: #747a85;
  --defaulted-bg-clr: #fd3d39;
  --paid-bg-clr: #169872;
  --congratulations-bg-clr: #454e5c;

  /*** text colors ***/
  --main-text-color: #172232;
  --sign-up-cl: #f7f7f7;
  --label-clr: #747a74;
  --input-clr: #747a85;
  --next-submit-reset-clr: #f7f7f7;
  --quote-text-clr: #f7f7f7;
  --steps-clr: #f7f7f7;

  /* font family */
  --font-family-body: 'Inter', sans-serif;
  --font-size: 1rem;
}

.dashDown-tablehead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border-bottom: 0.1px solid #b9bdc2;
  border-width: 100%;
}

.dashDown-tablehead{
  padding: 13px;
}
.dashDown-Table {
  background-color: #f7f7f7;
  border-radius: 0.625rem;
}
.dashdown-div h3{
  margin-bottom:  0.625rem;
}

.dash-th {
  text-align: left;
  padding: 0.9375rem;
}

.dashDown-first-data {
  display: flex;
  align-items: center;
}

.dashDown-first-data img {
  margin-right: 0.625rem;
  padding: 0.625rem;
}

.dashDown-data-title {
  display: flex;
  flex-direction: column;
}
.data-title h4{
  margin-bottom: 0.4375rem;
}

.dashDown-data-title h4 {
  margin: 0;
}

.dashDown-data-title a {
  color: #74757a;
}

.dashDown-pending,
.dashDown-approved,
.dashDown-rejected {
  margin: 0 50px;
  width: 6.25rem;
  padding: 4px 0;
  border-radius:0.3rem;
}
.dashDown-approved{
  background-color:var(--approved-btn-bg-clr);
  color:#fff;
}
.dashDown-pending{
  background-color:hsl(184, 40%, 59%);
  color:#000;
}
.dashDown-rejected{
  background-color: #fd3d39;
  color:#fff;

}

.dashDown-img {
  width: 20px;
  height: 20px;
}






