.form-containersss {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 530px;
  max-width: 800px;
  margin: 15px auto; 
  padding: 25px;
  border: 1px solid grey;
  background-color: #f2f2f2;
}
.predict-h1{
  margin-bottom: 30px;
  font-size: 30px;
}
.Loan_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;

}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* .row {
  margin-bottom: 10px;
} */

.predict-h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  
}

button {
  margin-top: 10px;
}
.loan-default{
  width: 100%;
}
.loan-default,
select[type="text"] {
  padding: 10px 40px;
  border-radius: 5px;
}

.default-submit {
  background-color: black;
  color: white;
  padding: 5px;
}