.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 650px;
  max-width: 1000px;
  /*margin: 0 auto;
  padding: 25px;*/
  border: 1px solid gray;
  background-color: #f2f2f2;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  margin-bottom: 10px;
}

h3 {
  margin: 0;
}

button {
  margin-top: 10px;
}

input[type="text"],
select[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: black;
  color: white;
  padding: 5px;
}