:root {
    /*** background colors ***/
    --main-bg-clr: #f7f7f7;
    --otp-bg-clr: #dfdede;
    --input-bg-clr: #b9bdc2;
    --sign-up-btn-bg-clr: #172232;
    --next-btn-bg-clr: #172232;
    --submit-btn-bg-clr: #172232;
    --side-bar-bg-clr: #252d39;
    --dashboard-top-bg-clr: #252d39;
    --dashboard-bg-clr: #f7f7f7;
    --existing-btn-bg-clr: #b9bdc2;
    --new-btn-bg-clr: #ff6f5a;
    --approved-btn-bg-clr: #169872;
    --rejected-btn-bg-clr: #fd3d39;
    --pending-btn-bg-clr: #c0f5f9;
    --credit-score-bg-clr: #b9bdc2;
    --excellent-btn-bg-clr: #169872;
    --good-btn-bg-clr: #747a85;
    --user-icon-bg-clr: #747a85;
    --defaulted-bg-clr: #fd3d39;
    --paid-bg-clr: #169872;
    --congratulations-bg-clr: #454e5c;
  
    /*** text colors ***/
    --main-text-color: #172232;
    --sign-up-cl: #f7f7f7;
    --label-clr: #747a74;
    --input-clr: #747a85;
    --next-submit-reset-clr: #f7f7f7;
    --quote-text-clr: #f7f7f7;
    --steps-clr: #f7f7f7;
  
    /* font family */
    --font-family-body: 'Inter', sans-serif;
    --font-size: 1rem;
  }

.msg-top-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.msg-cnt-mb{
    margin-bottom: 15px;
}

.markAll{
    border: none;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 5px;
    font-size: 15px;
}

.markRead{
    background-color: var(--new-btn-bg-clr);
    border: none;
    color: var(--sign-up-cl);
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 5px;
    font-size: 15px;
}

.msg-nav{
    display: flex;
    margin-bottom: 5em;
    cursor: pointer;
}

.msg-section{
    margin-right: 2em;
}

.msg-line{
    height: 2px;
    width: 2.7em;
    background-color: #bac0ba;
    margin-top: 0.5em;
}

.selected{
    background-color: #747a74;
}

.msg-cnt-note{
    display:flex;
    justify-content: space-between;
    padding: 1em;
    font-size: 17px;
}

.Msg-inbox{
    background-color: #f2f6f7;
}

h4, h1{
    color: var(--sign-up-btn-bg-clr);
}

.msg-cnt-dot{
    font-size: 24px;
    font-weight: bold;
}

.lineDivTop{
    width: 100%;
    height: 1px;
    background-color: var(--credit-score-bg-clr);
    position: relative;
    margin-bottom: -1em;
}

.goTo{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--credit-score-bg-clr);
    background-color: #f2f6f7;
    padding: 0.3em 0.2em 0.7em 1em;
    border-radius: 5px;
}

.arrow-left{
    margin-right: 0.5em;
}

.arrow-right{
    margin-left: 0.5em;
}

.goto , button {
    border: none;
}

.numbers , button{
    margin-right: 1em;
}

button{
    cursor: pointer;
}