/* .modal{
    background-color: white;
    width: 50%;
    box-shadow: none;
    margin-bottom: -19.5em;
    position: relative;
    top: 4.5em;
    border-radius: 10px;
} */
.modal{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 60%; */
  background-color: #b9bdc2;
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
}
.cancelbtn{
    color: grey;
    position: relative;
    top: -4em;
    right: -10em;
}

.alarm{
    position: relative;
    top: -1em;
    left: 1em;
}

.modal-title{
    font-weight: bold;
    font-size: 19px;
    position: relative;
    bottom: 1em;
}

footer > button {
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 5px;
}

.no{
    background-color: white;
    border: 1px solid #252d39;
}

.yes{
    background-color: #ff6f5a;
}