.msg-heading{
    display: flex;
    justify-content: space-between;
}

.new-msg{
    position: relative;
    left: -31em;
}

.email-div{
    display: flex;
}

.email-label{
    font-size: 15px;
    margin-top: 0.3em;
    margin-right: -1.5em;
    color: #172232;
}

.email{
    position: relative;
    left: 20em;
    top:-0.5em;
    border: 1px solid #b9bdc2;
    height: 2em;
    width: 20em;
}

.email::placeholder{
    margin-left: -5em;
}

.ellipses1{
    position: relative;
    left: 15em;
    bottom: 2.3em;
}

.linediv{
    height: 1px;
    width: 70%;
    color: grey
}

.msg-title{
    position: relative;
    right: 1em;
}

/* .input{
    height: 5em;
    background-color: #f4f6f8;
    border: none;
    width: 20em;
} */

.body{
    position: relative;
    bottom: 9em;
    right: 15em;
    font-size: 15px;
}

textarea{
    position: relative;
    top: 3em;
    right: 20em;
    border-radius: 5px;
}

.send{
    position: relative;
    top: 3em;
    right: 14em;
    margin-bottom: 1.5em;
    background-color: #ff6f5a;
    padding: 0.5em;
    border-radius: 5px;
}