.navbar-item {
  display: flex;
  justify-content: space-between;
}

.navbar-search {
  width: 15.85rem;
  height: 2.1875rem;
  margin-top: -0.125rem;
}
.navbar-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchicon {
  position: absolute;
  top: 0.66rem;
  left: 18.1rem;
  width: 18px;
}
.bell {
  margin-right: 1rem;
}
.right-arrow {
  position: absolute;
  top: 0.8rem;
  left: 29.5rem;
}
.navbar-userIcon {
  margin-right: 0.5rem;
}
.name-desc {
  font-size: 0.75rem;
}
