.navbar-item{
    display: flex;
    justify-content: space-between;
}

.navbar-search{
    width: 14.85rem;
    height: 2.1875rem;
    margin-top: -0.125rem;
}
.navbar-item2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchicon{
    position: absolute;
    top: 12px;
    left:390px;
}
.right-arrow{
    position: absolute;
    top: 12px;
    right:790px;

}
.navbar-userIcon{
    margin-right: 0.3125rem;
}
.name-desc{
    font-size: 0.75rem;
}