.form-container {
  width: 60em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  /* height: 100vh; */
  padding: 3em;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.select {
  display: block;
  padding: 0.8em;
  outline: none;
  border-radius: 0.6em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  width: 100%;
}

input {
  display: block;
  padding: 0.5em 5em;
  border-radius: 0.6em;
  margin-top: 0.5em;
  width: 100%;
}

.terms {
  margin-top: 5em;
  font-size: 0.8rem;
}
