.Question-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #f7f7f7; */
  /* height: 100vh; */
}

.Question-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5em;
}

/* .select {
  display: block;
  padding: 1em;
  outline: none;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  width: 90%;
} */

 .Question-input {
  /* display: block; */
  padding: 1em;
  border-radius: 5px;
  border: 2px solid #747a85;
  outline: none;
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 30em;
}
.Question-button{
  font-family: var(--font-family-body);
  background-color: var(--submit-btn-bg-clr);
  padding: 0.6em;
  outline: none;
  border-radius: 0.5em;
  margin-top: 0.125em;
  text-align: center;
  width: 25em;
}
.Question-button button{
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
  }
.Question-terms {
  margin-right: 8em;
  font-size: 0.8rem;
}
.question-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #b9bdc2;
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 106, 106, 0.6);
  backdrop-filter: blur(1px);
  z-index: 5;
}
.continue {
  background-color: #fd3d39;
  margin-top: 1em;
  border: 0;
  padding: 0.8em;
  cursor: pointer;
}
.modal h3 {
  margin: 1em 0;
}
.hidden {
  display: none;
}
