:root {
  /*** background colors ***/
  --main-bg-clr: #f7f7f7;
  --otp-bg-clr: #dfdede;
  --input-bg-clr: #b9bdc2;
  --sign-up-btn-bg-clr: #172232;
  --next-btn-bg-clr: #172232;
  --submit-btn-bg-clr: #172232;
  --side-bar-bg-clr: #252d39;
  --dashboard-top-bg-clr: #252d39;
  --dashboard-bg-clr: #f7f7f7;
  --existing-btn-bg-clr: #b9bdc2;
  --new-btn-bg-clr: #ff6f5a;
  --approved-btn-bg-clr: #169872;
  --rejected-btn-bg-clr: #fd3d39;
  --pending-btn-bg-clr: #c0f5f9;
  --credit-score-bg-clr: #b9bdc2;
  --excellent-btn-bg-clr: #169872;
  --good-btn-bg-clr: #747a85;
  --user-icon-bg-clr: #747a85;
  --defaulted-bg-clr: #fd3d39;
  --paid-bg-clr: #169872;
  --congratulations-bg-clr: #454e5c;

  /*** text colors ***/
  --main-text-color: #172232;
  --sign-up-cl: #f7f7f7;
  --label-clr: #747a74;
  --input-clr: #747a85;
  --next-submit-reset-clr: #f7f7f7;
  --quote-text-clr: #f7f7f7;
  --steps-clr: #f7f7f7;

  /* font family */
  --font-family-body: 'Inter', sans-serif;
  --font-size: 1rem;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--existing-btn-bg-clr);
  position: relative;
}
.sidebar-logo {
  position: absolute;
}
.sidebar-items1 {
  position: absolute;
  top: 3.5rem;
  left: 2rem;
}
.links {
  display: flex;
  margin: 1.5rem 0;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
.links p {
  margin-left: 1rem;
  color:var(--steps-clr) 
}

.sidebar-items2 {
  position: absolute;
  top: 20rem;
  left: 2rem;
}
.p-red,
.p-green {
  height: 1.34rem;
  width: 1.34rem;
  border-radius: 50%;
  font-size: 0.9375rem;
  background-color: var(--defaulted-bg-clr);
  text-align: center;
}
.p-green {
  background-color: var(--approved-btn-bg-clr);
}
.one {
  position: absolute;
  top: 10.2rem;
  left: 8.2rem;
}
.one1 {
  position: absolute;
  top: 13.4rem;
  left: 8.3rem;
}
.logout-div{
  background-color: var(--side-bar-bg-clr);
  
}
.log-out {
  position: absolute; 
  top: 33rem;
  left: 2rem; 
  margin-top: 150px;
  font-size: 1.2rem;
  color:var(--steps-clr) 
}
