.eye1 {
  position: absolute;
  top: 21.4em;
  left: 78em;
}


/* .signup1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 650px;
  max-width: 1000px;
  border: 1px solid grey;
  background-color: #f2f2f2;
} */