/* ===========STYLING OF  THE LOGIN PAGE========== */

  body {
    
    font-family: var(--font-family-body);
  } 
  
  
  .form {
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    width: 31em;
    margin-right: 12em;
    margin-top: 5em;
    /* padding: 10px; */
  }
  
 .form input {
    background: #f2f2f2;
    border-radius: 5px;
    /* margin: 12px 0; */
    padding: 15px 10px;
    box-sizing: border-box;
    font-family: var(--font-family-body); 
   } 
  .loginheader {
    color: var(--main-text-color);
    margin: 25px auto;
    font-size: 2.5em;
    font-family: var(--font-family-body);
    font-weight:bold;
  }
  
  .form input:focus {
    border-color: var(--input-clr);
  }
  
  .form button {
    font-family: var(--font-family-body);
    text-transform: uppercase;
    outline: 0;
    background: var(--submit-btn-bg-clr);
    border: 0;
    border-radius: 5px;
    padding: 15px 175px;
    color: #ffffff;
    cursor: pointer;
  }
  
  form button:active {
    background: var(--submit-btn-bg-clr);
  }

  form p.error {
    margin: 0 0 10px 10px;
    text-align: left;
    font-size: 10px;
    color: red;
  }
  .footnote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em 7em;    
  }
  .footnote2{
    margin-top: 3em;
  }