/* ===========STYLING OF  THE LOGIN PAGE========== */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 10em;
}

.form input {
  background: #f2f2f2;
  border-radius: 5px;
  /* margin: 12px 0; */
  padding: 15px 10px;
  box-sizing: border-box;
  font-family: var(--font-family-body);
}
.loginheader {
  color: var(--main-text-color);
  margin: 25px auto;
  font-size: 2.5em;
  font-family: var(--font-family-body);
  font-weight: bold;
}

.form input:focus {
  border-color: var(--input-clr);
}

.login-btn {
  width: 70%;
  font-family: var(--font-family-body);
  text-transform: uppercase;
  outline: 0;
  background-color: var(--submit-btn-bg-clr);
  border: 0;
  border-radius: 1em;
  padding: 0.8em;
  margin-left: 3em;
  text-align: center;

  cursor: pointer;
}

.login-btn button {
  background-color: transparent;
  color: #ffffff;
  border: none;
}

.footnote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footnote2 {
  margin-top: 3em;
  font-size: 0.8rem;
}
