.background {
  background-image: url(./assets/5623076\ 1.png);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.background-image {
  margin-left: 11.1em;
}
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 2em;
  left: 3em;
}
.quote {
  color: var(--dashboard-bg-clr);
  margin-top: 1em;
}
.quote-text {
  margin: 0.5em 0;
  color: var(--credit-score-bg-clr);
}
