:root {
  /*** background colors ***/
  --main-bg-clr: #f7f7f7;
  --otp-bg-clr: #dfdede;
  --input-bg-clr: #b9bdc2;
  --sign-up-btn-bg-clr: #172232;
  --next-btn-bg-clr: #172232;
  --submit-btn-bg-clr: #172232;
  --side-bar-bg-clr: #252d39;
  --dashboard-top-bg-clr: #252d39;
  --dashboard-bg-clr: #f7f7f7;
  --existing-btn-bg-clr: #b9bdc2;
  --new-btn-bg-clr: #ff6f5a;
  --approved-btn-bg-clr: #169872;
  --rejected-btn-bg-clr: #fd3d39;
  --pending-btn-bg-clr: #c0f5f9;
  --credit-score-bg-clr: #b9bdc2;
  --excellent-btn-bg-clr: #169872;
  --good-btn-bg-clr: #747a85;
  --user-icon-bg-clr: #747a85;
  --defaulted-bg-clr: #fd3d39;
  --paid-bg-clr: #169872;
  --congratulations-bg-clr: #454e5c;

  /*** text colors ***/
  --main-text-color: #172232;
  --sign-up-cl: #f7f7f7;
  --label-clr: #747a74;
  --input-clr: #747a85;
  --next-submit-reset-clr: #f7f7f7;
  --quote-text-clr: #f7f7f7;
  --steps-clr: #f7f7f7;

  /* font family */
  --font-family-body: 'Inter', sans-serif;
  --font-size: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}
.OtpForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 0 6em;
  width: 60%;
  background-color: var(--otp-bg-clr);
}

.OtpForm input {
  width: 3em;
  padding: 0.5em;
  margin-right: 0.5em;
  color: var(--input-clr);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.otpInput {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 100%;
}
.error {
  border-color: var(--rejected-btn-bg-clr);
}

.error-message {
  color: var(--rejected-btn-bg-clr);
  margin-top: 5px;
}
form h1 {
  margin: 1em 0 0.5em;
}
form p {
  margin: 0.4em 0;
}
.btn {
  font-family: var(--font-family-body);
  background-color: var(--submit-btn-bg-clr);
  padding: 15px 5px;
  border-radius: 12px;
  margin-top: 5px;
  text-align: center;
  width: 50%;
  margin-left: 3em;
}
.btn button {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
