.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 3em;
}

.form {
  padding: 1em 3em;
  margin: 0.625em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.label {
  display: block;
  margin-bottom: 5px;
  margin-right: 8em;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  border-radius: 1em;
  margin-bottom: 1em;
}

.re-btn {
  margin-left: 4em;
  width: 70%;
}

.terms {
  margin-top: 5em;
}