/* .signup {
  margin-top: 180px;
  align-items: center;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin-bottom: 60px;
  margin-left: 250px;
  color: #172232;
  text-align: center;
}

.companyID {
  margin-left: 97px;
}

.email {
  margin-left: 60px;
}

label {
  float: left;
  width: 30%;
  color: #747a74;
  font-weight: 50;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 7px;
}

::-webkit-input-placeholder {
  padding-left: 5px;
  font-size: 11px;
  opacity: 0.4;
}

.field {
  margin-bottom: 25px;
  height: 35px;
  width: 380px;
  background-color: #eeedede0;
  border-top: 1px solid #747a74;
  border-left: 1px solid #747a74;
  border-bottom: 1px solid #747a74;
  border-right: 0px solid;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  margin-bottom: 80px;
  margin-left: 19px;
  height: 38px;
  width: 380px;
  font-size: 14px;
  background-color: #172232;
  color: #f7f7f7;
  border-radius: 8px;
}

p {
  font-size: 12px;
  color: #747a74;
  margin-left: 140px;
} */
